.sidenav {
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px $shadow;
    position: relative;

    .sidenav-header {
        margin-bottom: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid $primary-green;
            box-shadow: 0 4px 6px $shadow;
        }
    }

    .sidenav-links {
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
            width: 100%;
        }

        a {
            display: flex;
            align-items: center;
            color: $neutral-gray;
            padding: 12px 18px;
            border-radius: 8px;
            transition: all 0.3s ease;
            border: 1px solid transparent;

            &:hover {
                background-color: $neutral-light-gray;
                color: $neutral-black;
                border-color: $primary-green;
            }

            &.active {
                background-color: $primary-green-light;
                color: $neutral-black;
                font-weight: 600;
                border-color: $primary-green;
            }
        }
    }

    .icon {
        font-size: 1.4rem;
        margin-right: 12px;
        color: $primary-green;
    }

    button {
        position: absolute;
        bottom: 0;
        margin: 20px;
        margin-left: 0;
        padding: 0.5rem 1rem;
        color: white;
        background-color: #d71828;
        border: none;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background-color: #a92934;
        }
    }
}
