.admin {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px $shadow;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;

    h2 {
        margin-bottom: 20px;
    }

    .title-and-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
