.header {
    background-color: $primary-green-light;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px $shadow;
    padding: 10px;

    .header-content {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .header-logo {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        box-shadow: 0 4px 6px $shadow;
    }

    .header-title {
        font-family: $primary-font;
        font-size: 1.4rem;
        font-weight: 500;
        color: $neutral-black;
    }

    nav {
        display: flex;
        gap: 10px;
    }
}
