* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img,
video {
    width: 100%;
    height: 100%;
}
